{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="shortcut icon" href="{% static 'images/test_logo.jpeg' %}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% block style %} {% endblock %}
</head>
<body>
    <div class="navigation">
        <div class="logo">
            <a href="{% url 'admin' %}">Logo</a>
        </div>

        <div class="toggler" id="close-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <nav class="nav" id="nav-menu">
            <ul>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'create_session' %}">Session</a></li>
                    <li class="nav-item"><a href="{% url 'applicantView' %}">Applicant</a></li>
                    <li class="nav-item"><a href="{% url 'admissionlist' %}">Admission</a></li>
                    <li style="color: #000;" class="nav-item logout"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li style="margin-right: 10px;" class="nav-item"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
            
            <div class="header_close" id="toggle-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        
    </div>
    <center>Online Admission</center>
    <div class="main">
        {% block main %} {% endblock %}
    </div>

    <!-- <footer>
        All right reserved &copy Dahiru Aliyu Adamu 
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        const navMenu = document.getElementById('nav-menu');
        const toggleMenu = document.getElementById('toggle-menu');
        const closeMenu = document.getElementById('close-menu');

        toggleMenu.addEventListener('click', () => {
            navMenu.classList.toggle('show');
        })

        closeMenu.addEventListener('click', () => {
            navMenu.classList.remove('show');
        })
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>